
#b-promo-out {
    /* border: 1px solid red; Used this to understand the position or to debug */
    position: relative;
}

#b-promo-in {
    /* border: 1px solid blue; Used this to understand the position or to debug */
    height: 445px;
    left: 50%;
    position: absolute;
    top: 300px;
    transform: translate(-50%, -50%);
	width: 80%;
	z-index: 100;
}
#b-promo-in img {
	width: 100%;
}
